:root {
  --font-main:
    'Titillium Web', 'Segoe UI Web (West European)', 'Segoe UI', -apple-system, BlinkMacSystemFont,
    Roboto, 'Helvetica Neue', sans-serif;
  --font-code: 'BerkeleyMono', monospace;
  --color-default: #129b9b;
  --color-accent: #7e7e09;
  --color-secondary: #b5c2c2;
  --color-dark: #171c1c;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h2,
h1,
h3 {
  color: var(--color-secondary) !important;
}

* {
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

html,
body,
#app {
  height: 100%;
  overflow: hidden;
}

body {
  font-family: var(--font-main);
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: -0.01em;
  position: relative;
  font-style: normal;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::before {
  content: '';
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-dark);
  background-image:
    repeating-radial-gradient(circle at 0 0, #b4242400 0, var(--color-dark) 30px),
    repeating-linear-gradient(rgb(9, 10, 12), rgb(12 11 9));
  background-attachment: fixed;
  z-index: -10;
}
